body{background:#FFFFe8;font-size:9pt;font-family:ו}
td{font-size:10.5pt;;font-family:ו;}
p{font-size:10.5pt}
li{font-size:10.5pt;line-height:30px;}
textarea.smallarea{font-size:9pt;background-color:white;color:rgb(0,0,128);}
input.buttonface{font-size:9pt;background-color:E8D8B0;}
A{text-decoration:none;color:navy}
A:hover{color:ff8c00;text-decoration:underline;}